<div class="card">
  <p-toolbar>
    <ng-template pTemplate="left">
      <h2 class="m-0">Branch Management</h2>
    </ng-template>
    <ng-template pTemplate="right">
      <span class="p-input-icon-left mr-3">
        <i class="pi pi-search"></i>
        <input pInputText type="text" [(ngModel)]="searchTerm"
          (input)="onSearch($event)"
          placeholder="Search branches..."
          aria-label="Search branches" />
      </span>
      <button pButton icon="pi pi-times" class="p-button-text mr-2"
        *ngIf="searchTerm" (click)="clearSearch()" aria-label="Clear search"></button>
      <button pButton label="New Branch" icon="pi pi-plus" class="p-button-success" (click)="openNew()"></button>
    </ng-template>
  </p-toolbar>

  <p-table #dt [value]="branches" [tableStyle]="{ 'min-width': '50rem' }" dataKey="id"
    [globalFilterFields]="['name', 'address']">
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th style="width: 12rem">Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-branch>
      <tr>
        <td>{{ branch.name }}</td>
        <td>{{ branch.address }}</td>
        <td>
          <button pButton icon="pi pi-pencil" class="p-button-rounded p-button-text mr-2"
            (click)="editBranch(branch)" aria-label="Edit"></button>
          <button pButton icon="pi pi-trash" class="p-button-rounded p-button-text p-button-danger"
            (click)="confirmDelete(branch)" aria-label="Delete"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="3" class="text-center p-4">No branches found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<app-branch-form #branchForm></app-branch-form>
<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>
